* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    width: 100%;
    height: auto;
    background-image: linear-gradient(to bottom right, rgb(24 39 51), rgb(0 15 24), rgb(45 25 25));
    /* background-image: linear-gradient(to bottom right , rgb(4, 20, 31) , rgb(5, 44, 70)); */
    color: aliceblue;
}
header {
    padding-top: 1rem;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}
.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}
.title img {
    width: 40px;
    height: 40px;
}
header nav ul {
    display: flex;
    gap: 2rem;
}
.unordered {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
}
.icons {
    display: flex;
    gap: 1rem;
}
header nav ul li {
    list-style-type: none;
    transition-duration: 0.3s;
}
header nav ul li a {
    text-decoration: none;
    color: rgb(226 232 240);
    font-weight: 600;
    font-size: 14px;
    transition-duration: 0.3s;
}

header nav ul li a:hover {
    color: rgb(100, 167, 255);
}
.title h1 {
    font-weight: 500;
}
.icons img {
    width: 23px;
    height: 23px;
}
#main {
    width: 100%;
    margin-top: 7rem;
}
.container {
    text-align: center;
}
#para1 {
    font-size: 55px;
    font-weight: 700;
    line-height: 3.5rem;
    margin-bottom: 2rem;
}

#para2 {
    font-size: 20px;
    font-weight: 400;
    color: rgb(226 232 240);
    line-height: 1.8rem;
    margin-bottom: 3rem;
}
code {
    color: rgb(56 189 248);
}
.btns button:nth-child(1) {
    padding: 10px;
    border-radius: 0.5rem;
    background-color: rgba(53, 192, 252, 0.836);
    border: none;
    color: rgba(240, 248, 255, 0.856);
    width: 7rem;
    height: 3rem;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition-duration: 0.3s;
}
.btns button:nth-child(1):hover {
    background-color: rgba(97, 207, 255, 0.842);
}
.btns button:nth-child(2):hover {
    background-color: rgba(255, 255, 255, 0.171);
}
.btns button:nth-child(2) {
    width: 18rem;
    height: 3rem;
    background-color: rgba(54, 54, 54, 0.555);
    color: rgb(226 232 240);
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-radius: 0.5rem;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition-duration: 0.3s;
}
#bflex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#kbd kbd{
    color: rgba(226, 232, 240, 0.801);
}
#section {
    margin-top: 10rem;
}
#text{
    text-align: center;
}
#text h1 {
    font-size: 45px;
    margin-bottom: 1rem;
}
#text p {
    font-size: 18px;
    font-weight: 500;
    color: rgba(226, 232, 240, 0.842);
    margin-bottom: 1rem;
    line-height: 1.7rem;
}
#card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 5rem;
}
#card img{
    border-radius: 50%;
    width: 55px;
    height: 55px;
}
/*figure 1*/
#figure1{
    width: 350px;
    height: 170px;
    background-color: rgb(30 41 59);
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    color: rgb(226 232 240);
}
#figure1 figcaption {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
#figure1 figcaption img{
    border-radius: 50%;
    width: 55px;
    height: 55px;
}
#flex-ryan h3 {
    color: rgb(203 213 225);
}
#flex-ryan p {
    color: rgb(148 163 184);
}
#figure1 blockquote {
    color: rgba(203, 213, 225, 0.897);
    font-weight: 500;
    font-size: 15px;
}
/*figure2*/
#figure2{
    width: 390px;
    height: 215px;
    background-color: rgb(30 41 59);
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    color: rgb(226 232 240);
}
#figure2 figcaption {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
#figure2 figcaption img{
    border-radius: 50%;
    width: 55px;
    height: 55px;
}
#flex-ryan h3 {
    color: rgb(203 213 225);
}
#flex-ryan p {
    color: rgb(148 163 184);
}
#figure2 blockquote {
    color: rgba(203, 213, 225, 0.897);
    font-weight: 500;
    font-size: 15px;
}
/*figure3*/
#figure3{
    width: 390px;
    height: 215px;
    background-color: rgb(30 41 59);
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    color: rgb(226 232 240);
}
#figure3 figcaption {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
#figure3 figcaption img{
    border-radius: 50%;
    width: 55px;
    height: 55px;
}
#flex-ryan h3 {
    color: rgb(203 213 225);
}
#flex-ryan p {
    color: rgb(148 163 184);
}
#figure3 blockquote {
    color: rgba(203, 213, 225, 0.897);
    font-weight: 500;
    font-size: 15px;
}
/*figure4*/
#figure4{
    width: 400px;
    height: 250px;
    background-color: rgb(30 41 59);
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    color: rgb(226 232 240);
}
#figure4 figcaption {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
#figure4 figcaption img{
    border-radius: 50%;
    width: 55px;
    height: 55px;
}
#flex-ryan h3 {
    color: rgb(203 213 225);
}
#flex-ryan p {
    color: rgb(148 163 184);
}
#figure4 blockquote {
    color: rgba(203, 213, 225, 0.897);
    font-weight: 500;
    font-size: 15px;
}
/*figure5*/
#figure5{
    width: 390px;
    height: 170px;
    background-color: rgb(30 41 59);
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    color: rgb(226 232 240);
}
#figure5 figcaption {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
#figure5 figcaption img{
    border-radius: 50%;
    width: 55px;
    height: 55px;
}
#flex-ryan h3 {
    color: rgb(203 213 225);
}
#flex-ryan p {
    color: rgb(148 163 184);
}
#figure5 blockquote {
    color: rgba(203, 213, 225, 0.897);
    font-weight: 500;
    font-size: 15px;
}
/*figure6*/
#figure6{
    width: 390px;
    height: 190px;
    background-color: rgb(30 41 59);
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    color: rgb(226 232 240);
}
#figure6 figcaption {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
#figure6 figcaption img{
    border-radius: 50%;
    width: 55px;
    height: 55px;
}
#flex-ryan h3 {
    color: rgb(203 213 225);
}
#flex-ryan p {
    color: rgb(148 163 184);
}
#figure6 blockquote {
    color: rgba(203, 213, 225, 0.897);
    font-weight: 500;
    font-size: 15px;
}

#cards1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#cards2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#cards3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: none;
}
#cards4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: none;
}
#btn {
    padding: 15px;
    border-radius: 0.5rem;
    background-color: rgb(51 65 85);
    border: none;
    color: rgba(240, 248, 255, 0.856);
    width: 9rem;
    height: 3rem;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition-duration: 0.3s;
    display: block;
    margin: auto;
    box-shadow: 0 0 100px rgb(255, 139, 139);
    margin-bottom: 1rem;
    animation: trans 4s linear infinite;
}
#points {
    display: none;
    transition-duration: 0.3s;
}
@keyframes trans {
    0% {
        transform: translateY(-20px);
    } 50% {
        transform: translateY(0px);
    } 100% {
        transform: translateY(-20px);
    }
}
#btn:hover {
    background-color: rgba(255, 255, 255, 0.226);
}
#footer {
    margin-top: 10rem;
    background-color: rgba(6, 28, 48, 0.281);
    padding-top: 2rem;
    width: 100%;
    height: auto;
}
#foot {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    margin: 0 1rem;
    gap: 5rem;
}
#foot h4 {
    margin-bottom: 1rem;
}
#foot ul li {
    list-style-type: none;
    margin-bottom: 0.5rem;
}
#foot ul li a{
   color: rgba(226, 232, 240, 0.616);
   text-decoration: none;
   font-weight: 500;
   font-size: 12px;
}
#last {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
#parent {
    width: 100%;
}
#hr {
    width: inherit;
    margin: auto;
    border-top: 1px solid rgba(226, 232, 240, 0.26);
    margin-bottom: 1rem;
}
#def {
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
}
#def h1 {
    font-size: 20px;
    letter-spacing: 1px;
}
#points {
    display: none;
}
#hidshow {
    width: 180px;
    height: 210px;
    background-color: rgba(48, 48, 48, 0.616);
    text-align: center;
    border-radius: 0.5rem;
    position: absolute;
    right: -100%;
    top: 4rem;
    transition-duration: 0.2s;
}
#hidshow nav {
    padding-top: 2.5rem;
}
#hidshow nav ul {
    margin-bottom: 1rem;
}
#hidshow nav ul li {
    list-style-type: none;
    margin-bottom: 0.3rem;
}
#hidshow nav ul li a {
    text-decoration: none;
    color: rgb(226 232 240);
    transition-duration: 0.3s;
}
#hidshow nav ul li a:hover {
    color: rgb(100, 167, 255);
}
#hidshow i {
    font-size:30px;
    margin-top: 0.5rem;
    position: absolute;
    right: 0.5rem;
}
.ico {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
}
/* Samsung Galaxy S20 */
@media (max-width : 360px) {
    header nav ul , .icons #img {
        display: none;
    }
    #points {
        display: block;
    }
    #para1 {
        font-size: 40px;
        margin: 0 1.2rem;
        margin-bottom: 1rem;
    }
    #para2 {
        margin: 0 1rem;
        margin-bottom: 1rem;
    }
    .btns button:nth-child(1) {
       width: 300px;
    }
    .btns button:nth-child(2) {
        display: none;
    }
    #text h1 {
        font-size: 40px;
        margin: 0 0.5rem;
    }
    #text p {
        font-size: 16px;
        margin: 0 0.8rem;
        margin-bottom: 0.5rem;
    }
    #cards1 #figure2 {
        height: 240px;
    }
    #cards1 #figure3 {
        height: 185px;
    }
    #cards2 #figure4 {
        height: 260px;
    }
    #cards2 #figure6 {
        height: 220px;
    }
    #foot {
        gap: 1.2rem;
    }
}

